<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
    <title><%=title%></title>
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />

  <!-- Bootstrap core CSS -->
  <!-- Express maps '/assets/npm' to ' ./node_modules' locallly for minimal editing of links.DHT-->
  <link
    href="/assets/npm/bootstrap/dist/css/bootstrap.min.css"
    rel="stylesheet">
  <script src="/assets/npm/bootstrap/dist/js/bootstrap.min.js"></script>
</head>