<!-- Include at the top inside of the html tag -->
<-- Pass title in as option. -->

<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />

  <title><%= title %></title>

  <!-- Bootstrap core CSS -->
  <!-- Express maps '/assets/npm' to ' ./node_modules' locallly for minimal editing of links.-->
  <link href="/assets/npm/dist/css/bootstrap.min.css" rel="stylesheet" />

  <style>
    body {
      padding-top: 50px;
    }
  </style>
</head>
