<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/index">Default</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/wsjtx">WSJT-X</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contest">Contest!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About!</a>
      </li>
    </ul>
  </div>
</nav>
