  <nav class="navbar navbar-expand-sm navbar-light bg-info">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">HamSuite</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link <%-(view==="index")?"active":"" %> ," aria-current="page" href="/index">Home</a>
            <a class="nav-link" href="/settings" target="_blank">Settings</a>           
            <a class="nav-link" href="/uploadDialog">Upload Logs</a>
            <a class="nav-link" href="/contest">Contest</a>
 
            <a
              class="nav-link"
              href="/wsjtx">wsjtx</a>
            
          </div>
        </div>
      </div>
    </nav>